[submodule "congestion"]
	path = congestion
	url = https://github.com/SystemsApproach/congestion
[submodule "applications"]
	path = applications
	url = https://github.com/SystemsApproach/applications
