[submodule "chapter1"]
	path = chapter1
	url = https://github.com/systemsapproach/chapter1.git
[submodule "chapter2"]
	path = chapter2
	url = https://github.com/systemsapproach/chapter2.git
[submodule "foundation"]
	path = foundation
	url = https://github.com/SystemsApproach/foundation
[submodule "direct"]
	path = direct
	url = https://github.com/SystemsApproach/direct
[submodule "internetworking"]
	path = internetworking
	url = https://github.com/SystemsApproach/internetworking
[submodule "scaling"]
	path = scaling
	url = https://github.com/SystemsApproach/scaling
[submodule "e2e"]
	path = e2e
	url = https://github.com/SystemsApproach/e2e
[submodule "congestion"]
	path = congestion
	url = https://github.com/SystemsApproach/congestion
[submodule "data"]
	path = data
	url = https://github.com/SystemsApproach/data
