[submodule "congestion"]
	path = congestion
	url = https://github.com/SystemsApproach/congestion
[submodule "data"]
	path = data
	url = https://github.com/SystemsApproach/data
[submodule "security"]
	path = security
	url = https://github.com/SystemsApproach/security
[submodule "applications"]
	path = applications
	url = https://github.com/SystemsApproach/applications
